form{
	margin: 40px 0;
}
form label{
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}
.input-padrao{
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}
.enviar{
	width: 40%;
	padding: 15px 0;
	background: skyblue;
	color: blue;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 10px;
	transition: 1s all;
	cursor: pointer;
}
.enviar:hover{
	background: blue;
	transform; scale(1.5);
	transform; rotate(20deg);
}
.girar{
	width: 40%;
	padding: 15px 0;
	background: yellow;
	color: blue;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 10px;
	transition: 1s all;
	cursor: pointer;
}
.girar:hover{
	background: blue;
	transform: rotate(1000deg);