table{
	margin: 20px 0 40px; 
}
thead{
	background: skyblue;
	color: skyblue;
	font-weight:bold;
}
tr,td{
	border: 3px solid #000000;
	font-size: 20px;
	color: purple;
}


main {
	width: 940px;
    margin: 0 auto;
    font-size: 20px;
    color: skyblue;
}

form {
    margin: 40px 0;
}

form label. form p {
    display:block;
    font-size: 20px;
    margin: 0 0 10px;
}

form input, form textarea {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}